<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Payments Made Easy!</title>
</head>
<div layout:fragment="content" class="centered-container">

<div class="payment-form-container" id="demoForm">
    <h2>Select Demo</h2>
    <ul>
        <li><a href="/sessions-flow-dropin">Sessions Flow Drop-in</a></li>
        <li><a href="/advanced-flow-dropin">Advanced Flow Drop-in</a></li>
        <li><a href="/advanced-flow-components">Advanced Flow Components</a></li>
        <li><a href="/advanced-flow-api-encrypted">Advanced Flow API (Encrypted)</a></li>
        <li><a href="/in-person-payments">In-person Payments </a></li>
        <li><a href="/transaction-management">Transaction Management</a></li>
        <li><a href="/report-management">Report Management</a></li>
    </ul>
    <p class="note">
        To learn more about client-side integration solutions, <br>check out <a href="https://docs.adyen.com/checkout" target="_blank">Online payments</a>
        and <a href="https://docs.adyen.com/point-of-sale/" target="_blank">In-person payments</a>.
    </p>
</div>

</div>