<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Payments Made Easy!</title>
</head>
<div layout:fragment="content" class="centered-container">

<div class="payment-form-container" id="demoForm">
    <h2>Select Demo</h2>
    <ul>
        <li><a href="/sessions">Sessions Flow</a></li>
        <li><a href="/payments">Advanced Flow</a></li>
        <li><a href="/components">Components Flow</a></li>
        <li><a href="/terminal">Terminal Payment</a></li>
        <li><a href="/management">Transaction Management</a></li>
    </ul>
    <p class="note">
        To learn more about client-side integration solutions, <br>check out <a href="https://docs.adyen.com/checkout" target="_blank">Online payments.</a>
    </p>
</div>

</div>
