<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <title layout:title-pattern="$CONTENT_TITLE"></title>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="/images/icon.webp">

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="/js-util/settingsUtil.js"></script>
    <link rel="stylesheet" href="/css/application.css" />

    <script>
        (function() {
            const DEFAULT_CHECKOUT_VERSION = '6.12.0';
            if (localStorage.getItem("selectedCheckoutVersion") == null) {
                localStorage.setItem("selectedCheckoutVersion", DEFAULT_CHECKOUT_VERSION);
            }
            const checkoutVersion = localStorage.getItem('selectedCheckoutVersion');

            // Create script tag for Adyen JS
            // Warning: For Production, make sure to verify integrity
            const script = document.createElement('script');
            script.src = `https://checkoutshopper-live.cdn.adyen.com/checkoutshopper/sdk/${checkoutVersion}/adyen.js`;
            script.crossOrigin = 'anonymous';
            document.head.appendChild(script);

            // Create link tag for Adyen CSS
            // Warning: For Production, make sure to verify integrity
            const link = document.createElement('link');
            link.href = `https://checkoutshopper-live.cdn.adyen.com/checkoutshopper/sdk/${checkoutVersion}/adyen.css`;
            link.rel = 'stylesheet';
            link.crossOrigin = 'anonymous';
            document.head.appendChild(link);
        })();
    </script>
</head>
<body class="page-style">
<div class="settings-panel" id="settingsPanel">
    <input type="checkbox" id="panel-toggle" class="panel-toggle-check">
    <script>
        (function() {
            const panelToggle = document.getElementById("panel-toggle");
            panelToggle.checked = localStorage.getItem("panelToggleCheckedStatus") === 'true';
        })();
    </script>
    <label for="panel-toggle" class="panel-header" >
        <span class="panel-title">Control Panel</span>
        <span class="toggle-icon"></span>
    </label>

    <div class="panel-content">
        <div class="section-label">Configuration</div>
        <div class="settings-section">
            <div class="setting-item">
                <label for="merchant-select" class="configuration-label">Merchant</label>
                <select id="merchant-select" class="settings-dropdown">
                    <option value='' selected disabled>Select Merchant</option>
                </select>
            </div>
            <div class="setting-item">
                <label for="shopper-select" class="configuration-label">Shopper</label>
                <select id="shopper-select" class="settings-dropdown">
                    <option value='' selected>Guest User</option>
                </select>
            </div>
            <div class="setting-item">
                <label for="checkout-version-select" class="configuration-label">Version</label>
                <select id="checkout-version-select" class="settings-dropdown">
                    <option value='6.31.0' selected>6.31.0</option>
                    <option value='6.14.0'>6.14.0</option>
                    <option value='5.67.1'>5.67.1</option>
                </select>
            </div>
        </div>

        <hr class="settings-divider">

        <div class="section-label">Additional Data</div>
        <div id="additional-settings" class="settings-section">
            <div class="setting-item">
                <label for="manualCapture" class="configuration-label">Manual Capture</label>
                <select id="manualCapture" class="settings-dropdown">
                    <option value='true' selected>Yes</option>
                    <option value='false'>No</option>
                </select>
            </div>
            <div class="setting-item">
                <label for="authorisationType" class="configuration-label">Auth Type</label>
                <select id="authorisationType" class="settings-dropdown">
                    <option value='FinalAuth' selected>FinalAuth</option>
                    <option value='PreAuth'>PreAuth</option>
                    <option value='ExtendedAuth'>ExtendedAuth</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <th:block layout:fragment="content" />
</div>
</body>
</html>