<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Terminal Payment</title>
</head>
<div layout:fragment="content" class="centered-container">
    <div class="payment-form-container" id="inputForm">
        <a href="/" class="back-button">← Back</a>
        <a class="back-button" id="posDemoButton">POS Demo</a>
        <h2>1. Enter Payment Details</h2>
        <form id="paymentForm" method="post">
            <table>
                <!-- Amount Row -->
                <tr>
                    <td><label for="amount">Amount:</label></td>
                    <td><input class="input-field" type="number" id="amount" name="amount" placeholder="Enter amount" value="1000" required></td>
                </tr>

                <!-- Currency Row -->
                <tr>
                    <td><label for="currency">Currency:</label></td>
                    <td>
                        <select class="input-field" id="currency" name="currency" required>
                            <!-- Options will be dynamically added here -->
                        </select>
                    </td>
                </tr>

                <!-- POI ID -->
                <tr>
                    <td><label for="poiId">POI ID:</label></td>
                    <td>
                        <select class="input-field" id="poiId" name="poiId" required>
                            <!-- Options will be dynamically added here -->
                        </select>
                    </td>
                </tr>

                <!-- apiType -->
                <tr>
                    <td><label for="apiType">API Type:</label></td>
                    <td>
                        <select class="input-field" id="apiType" name="apiType" required>
                            <option value="cloud" selected>Cloud</option>
                            <option value="local">Local</option>
                        </select>
                    </td>
                </tr>

                <!-- localEndpoint -->
                <tr id="localEndpointRow" hidden>
                    <td><label for="localEndpoint">Local Endpoint:</label></td>
                    <td><input class="input-field" type="text" id="localEndpoint" name="localEndpoint" placeholder="Enter Endpoint (eg. https://127.0.0.1)"></td>
                </tr>

                <!-- connectionType -->
                <tr>
                    <td><label for="connectionType">Connection:</label></td>
                    <td>
                        <select class="input-field" id="connectionType" name="connectionType" required>
                            <option value="sync" selected>Synchronous</option>
                            <option value="sync">SynchronousLoop</option>
                            <option value="async">Asynchronous</option>
                        </select>
                    </td>
                </tr>

                <!-- connectionTimeout -->
                <tr>
                    <td><label for="connectionTimeout">Connection Timeout:</label></td>
                    <td><input class="input-field" type="number" id="connectionTimeout" name="connectionTimeout" placeholder="Enter request timeout" value="30000" required></td>
                </tr>

                <!-- printReceipt -->
                <tr>
                    <td><label for="printReceipt">Print Receipt:</label></td>
                    <td>
                        <select class="input-field" id="printReceipt" name="printReceipt" required>
                            <option value="none" selected>None</option>
                            <option value="CustomerReceipt">Customer Receipt</option>
                            <option value="CustomerReceipt&CashierReceipt">Customer & Cashier Receipt</option>
                        </select>
                    </td>
                </tr>
                <!-- savePaymentMethod -->
                <tr>
                    <td><label for="savePaymentMethod">Save Payment Method:</label></td>
                    <td>
                        <select class="input-field" id="savePaymentMethod" name="savePaymentMethod" required>
                            <option value="false" selected>No</option>
                            <option value="true">Yes</option>
                        </select>
                    </td>
                </tr>
            </table>

            <!-- Submit Button -->
            <button type="submit" id="startPaymentButton">Start Payment</button>
        </form>
        <p class="note">
            <a href="/management">Manage Transactions</a>.
        </p>
    </div>
    <div class="payment-form-container" id="progressForm" style="display: none;">
        <h2>2. Processing Terminal Payment</h2>
        <div class="loading-grid">
            <div class="loading-animation"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            <div id="loading-description" class="loading-description">Waiting for terminal response ...</div>
        </div>
        <button class="delete-button" id="cancel-button">Cancel</button>
    </div>
    <div class="payment-form-container" id="responseForm" style="display: none;">
        <h2>3. Terminal Response</h2>
        <table id="result-table"></table>
        <p class="note">
            <a href="/" rel="noopener noreferrer">Return to start</a>
            <span style="display: inline-block; width: 20px;"></span>
            <a href="/management" rel="noopener noreferrer">Manage Transactions</a>
        </p>
    </div>

    <script type="module" src="/js/terminal.js"></script>

</div>